<div class="forgot-password-container">
  <h1 class="app-name has-gradient-text">LifePlanner</h1>
  @if(!emailSent) {
  <p>Enter your email address and we'll send you a link to reset your password.</p>
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      required
    />
    @if(email.invalid && email.touched) {
    <mat-error>{{ getErrorMessage() }}</mat-error>
    }
  </mat-form-field>
  <button
    class="standard-button-height"
    mat-raised-button
    color="primary"
    (click)="sendResetEmail()"
  >
    Send reset link
  </button>
  <p id="back-text">
    <a href="javascript:void()" (click)="backToLogin()">Back to login</a>
  </p>
  } @else {
  <p>Check your email for a password reset link.</p>
  <button
    class="standard-button-height"
    mat-raised-button
    color="primary"
    (click)="backToLogin()"
  >
    Back to login
  </button>
  }
</div>
