.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 400px;
    width: 300px;
   
}
.standard-button-height{
    height: 50px;
}