:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: stretch;
  width: 300px;
  text-align: center;

  .app-name {
    font-size: 28px;
    font-family: "Yatra One", sans-serif;
    font-weight: bold;
    text-align: center;
    //make the text more prominent
    color: #13f7f4;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 900;
    //dark shadow around the text
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .has-gradient-text {
    background: -webkit-linear-gradient(#13f7f4, #2af598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .standard-button-height {
    height: 50px;
  }

  #register-text {
    font-size: 0.75em;
  }
}
