<div class="board-bar">
  @if(boards$ | async; as boards) {
  <div class="board-name">
    @if(!editingName){
    <p class="board-name" (click)="startEditName()">
      {{ currentBoard.name }}
    </p>
    <button mat-button (click)="onNewBoardClick()">New board</button>
    } @if(editingName){
    <input
      matInput
      [formControl]="boardNameFormControl"
      [(model)]="currentBoard.name"
      type="text"
      class="board-name-input"
      name="boardName"
      (blur)="finishEditName()"
      (keydown)="handleNameKey($event)"
      autofocus
    />
    }
  </div>

  }
</div>
