<div class="board-bar">
  @if(boards$ | async; as boards) {
  <div class="board-name">
    @if(!editingName){
    <p class="board-name" (click)="startEditName()">
      {{ currentBoard.name }}
    </p>
    <button mat-button (click)="onNewBoardClick()">New board</button>
    } @if(editingName){
    <form>
      <mat-form-field>
        <input
          [formControl]="boardNameControl"
          type="text"
          class="board-name-input"
          (blur)="finishEditName($event)"
          (keydown)="handleNameKey($event)"
          autofocus
        />
      </mat-form-field>
    </form>
    }
  </div>

  }
</div>
