<new-board
  [showNewBoardMenu]="showNewBoardMenu"
  [newBoardNameControl]="newBoardNameControl"
  (newBoardMenuToggle)="onNewBoardMenuToggle()"
  (createNewBoard)="createNewBoard()"
></new-board>

@if(!showNewBoardMenu){
<div class="board-bar">
  @if(boards$ | async; as boards) { @if(selectedBoard$ | async; as selectedBoard) {
  <div class="board-tabs">
    @for(board of boards; track board.id) {
    <button
      class="board-tab"
      [class.active]="board.id === selectedBoard.id"
      (click)="switchBoard(board)"
    >
      @if(editingName && board.id === selectedBoard.id) {
      <input
        [formControl]="boardNameControl"
        class="board-name-input"
        (blur)="finishEditName(selectedBoard)"
        (keydown)="handleNameKey($event, selectedBoard)"
        autofocus
      />
      } @else {
      <span (dblclick)="startEditBoardName(board)">{{ board.name }}</span>
      }
    </button>
    }
  </div>
  } }
</div>
}
