//for login
.login-container {
  display: flex;
  position: absolute;
  right: 4em;
  top: 1em;
  color: #fff;
  cursor: pointer;
}

.app-name {
  font-size: 28px;
  font-family: "Yatra One", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
