//for login
.login-container {
  display: flex;
  position: absolute;
  right: 4em;
  top: 1em;
  color: #fff;
  cursor: pointer;
}

.app-name {
  font-size: 28px;
  font-family: "Yatra One", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#F9D07A, #d4a94e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
