<nav class="navbar app-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item title-brand-item">
      <ng-container *ngIf="!isEditingTitle; else titleEditMode">
        <h1
          class="app-name has-gradient-text"
          (click)="navigateToHome()"
          [title]="userEmail ? 'Click to navigate home; double-click to rename' : ''"
          (dblclick)="startEditingTitle()"
        >
          {{ appTitleService.appTitle() }}
        </h1>
        <button
          *ngIf="userEmail"
          mat-icon-button
          class="title-edit-button"
          (click)="startEditingTitle()"
          aria-label="Rename app title"
          title="Rename app title"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-template #titleEditMode>
        <input
          #titleInput
          class="app-name-input"
          type="text"
          [(ngModel)]="editingTitleValue"
          (keydown)="onTitleKeydown($event)"
          (blur)="commitTitleEdit()"
          maxlength="100"
          aria-label="Edit app title"
        />
      </ng-template>
    </div>
    <button
      class="navbar-burger"
      [class.is-active]="menuActive"
      (click)="toggleMenu()"
      aria-label="menu"
      aria-controls="navbar-main-menu"
      [attr.aria-expanded]="menuActive"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div id="navbar-main-menu" class="navbar-menu" [class.is-active]="menuActive">
    <div class="navbar-end">
      <div class="navbar-item">
        <button
          mat-icon-button
          (click)="themeService.toggleTheme()"
          class="theme-toggle-button"
          [attr.aria-label]="themeService.isDarkMode() ? 'Switch to light mode' : 'Switch to dark mode'"
        >
          <mat-icon>{{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
      </div>
      <div class="navbar-item" *ngIf="userEmail">
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
          <mat-icon>account_circle</mat-icon>
          <span class="user-email">{{ userEmail }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <div class="menu-email-header" mat-menu-item disabled>{{ userEmail }}</div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="navigateToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </button>
          <button mat-menu-item (click)="navigateToNewBoard()">
            <mat-icon>add</mat-icon>
            <span>New Board</span>
          </button>
          <button mat-menu-item (click)="openCreateTemplateDialog()">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Create Template</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
