:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container {
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    text-align: center;
  }
  .app-name {
    font-size: 28px;
    font-family: "Yatra One", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .has-gradient-text {
    background: -webkit-linear-gradient(#13f7f4, #2af598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .standard-button-height {
    height: 50px;
  }

  #register-text {
    font-size: 0.75em;
  }

  .password-unmatch-error {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
}
