<div class="register-container">
  <h1 class="app-name has-gradient-text">LifePlanner</h1>
  <p>Register</p>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      required
    />
    @if(email.invalid){
    <mat-error>{{ getErrorMessage("email") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      [formControl]="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{
      getErrorMessage("password")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input
      [formControl]="confirmPassword"
      matInput
      [type]="hide ? 'password' : 'text'"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword.invalid">{{
      getErrorMessage("confirmPassword")
    }}</mat-error>
  </mat-form-field>

  <button
    class="standard-button-height"
    mat-raised-button
    color="primary"
    (click)="register()"
  >
    Register
  </button>
</div>
