<form
  [formGroup]="addTaskForm"
  class="add-task-container flex-column"
  (submit)="data.mode === TaskMode.Edit ? editTask() : addTask()"
>
  <div class="dialog-header">
    <mat-icon class="dialog-icon">{{ data.mode === TaskMode.Edit ? 'edit' : 'add_task' }}</mat-icon>
    <h2 class="dialog-title">{{ actionString }}</h2>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter task name</mat-label>
    <input
      matInput
      placeholder="Task name"
      formControlName="name"
      [value]="data.task?.name"
    />
    @if(addTaskForm.controls.name.invalid && addTaskForm.controls.name.touched){
    <mat-error>{{ getValidationMessage() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Please explain the task</mat-label>
    <textarea
      matInput
      placeholder="Task description"
      formControlName="description"
      [value]="data.task?.description"
      rows="4"
    ></textarea>
  </mat-form-field>

  <div class="action-button-container flex">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="action-button"
      [disabled]="addTaskForm.invalid"
    >
      {{ actionString }}
    </button>
  </div>
</form>
