<form
  [formGroup]="addTaskForm"
  class="add-task-container flex-column"
  (submit)="data.mode === TaskMode.Edit ? editTask() : addTask()"
>
  <mat-form-field>
    <mat-label>Enter task name</mat-label>
    <input
      matInput
      placeholder="Task name"
      formControlName="name"
      [value]="data.task?.name"
    />
  </mat-form-field>
  @if(addTaskForm.controls.name.invalid && addTaskForm.controls.name.touched){
  <mat-error>{{ getValidationMessage() }}</mat-error>
  }
  <mat-form-field>
    <mat-label>Please explain the task</mat-label>
    <textarea
      matInput
      placeholder="Task description"
      formControlName="description"
      [value]="data.task?.description"
    ></textarea>
  </mat-form-field>
  <div class="action-button-container flex">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="action-button"
    >
      {{ actionString }}
    </button>
  </div>
</form>
