.reset-password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .reset-password-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        background-color: #fff;
        padding:2em;
        border-radius: 2em;

        .standard-button-height{
            height: 50px;
        }
    }
   
}


  
 