<div class="reset-password-container">
  <div class="card reset-password-form">
    <h1 class="app-name has-gradient-text">LifePlanner</h1>
    <p class="reset-password-title">Reset Password</p>
    <form [formGroup]="resetPasswordForm" class="reset-form" (ngSubmit)="confirmPassword()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(resetPasswordForm.controls['password'].invalid && resetPasswordForm.controls['password'].touched){
          <mat-error>{{ getErrorMessage('password') }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm new password</mat-label>
        <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched){
          <mat-error>{{ getErrorMessage('confirmPassword') }}</mat-error>
        }
      </mat-form-field>
      @if(resetPasswordForm.errors?.['PasswordNoMatch'] && resetPasswordForm.controls['confirmPassword'].value){
        <mat-error class="password-unmatch-error">Passwords do not match</mat-error>
      }
      <mat-divider></mat-divider>
      <button class="standard-button-height" mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Confirm password</button>
    </form>
  </div>
</div>