<div
  cdkDrag
  class="tasks {{ container }}-tasks flex-row-space-between"
  id="{{ container }}-tasks-{{ index }}"
>
  <div class="name-description-container">
    {{ task.name }}
    <p class="description">{{ task.description }}</p>
  </div>
  <div class="action-buttons flex-column-center">
    <button class="edit-button" (click)="editTask(task)">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
    <button class="delete-button" (click)="deleteTask(task.id)">
      <mat-icon class="delete-icon">delete</mat-icon>
    </button>
  </div>
</div>
