//global styles and change variables
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*Update bulma's component variables*/
$family-sans-serif: "Yatra One", sans-serif;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//global styles
html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
}
html {
  background-image: url("./assets/cool-background.png");
  background-size: cover;
  overflow-y: auto !important;
}
.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-name {
  font-size: 28px;
  font-family: "Yatra One", sans-serif;
  font-weight: bold;
  text-align: center;
  //make the text more prominent
  color: #13f7f4;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
  //dark shadow around the text
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
//create a collection of size overrides
.size-50-override {
  font-size: 50px !important;
}
.size-35-override {
  font-size: 35px !important;
}
.size-30-override {
  font-size: 30px !important;
}
.size-25-override {
  font-size: 25px !important;
}
.size-20-override {
  font-size: 20px !important;
}
