/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";
@import "main-styles.scss";
@import "../node_modules/ngx-toastr/toastr.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// #toast-container > div {
//   opacity: 1;
// }
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  @extend .flex-column;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}
